<div class="panel">
  <div class="panel-body">
    <div class='' style="margin-bottom: 10px;">
      <% _.each(kanjis, function(kanji, index) { %>
        <ruby style='padding-right: 5px;'>
          <rb style='font-size: 20px;'>
            <a href="" data-id="<%=kanji.id%>" class='js-click'><%= kanji.name %></a>
          </rb>
          <rp>/</rp>
          <rt style='font-size: 14px;'><%= kanji.romaji %></rt>
        </ruby>
      <% }) %>
    </div>
    <div class='row'>
      <div class='col-sm-4'>
        <button type="button" class="js-easer btn btn-floating btn-success easer-btn"><i class="icon wb-pencil" aria-hidden="true"></i></button>
        <h5 class='js-x' data-kind='explain'>
          <%= kanjis[0].explain %>
        </h5>
        <p class='js-x' style='color: black;' data-kind='mean'>
          <%= kanjis[0].mean %>
        </p>
        <p class='js-x' style='color: black;' data-kind='vn_mean'>
          <%= kanjis[0].vn_mean %>
        </p>
        <table class='table-example js-x' data-kind='example_tb'>
          <%= kanjis[0].example_tb %>
        </table>
      </div>
      <div class='col-sm-8'>
        <div class='row'>
          <div class='col-sm-3'>
            <div class='image-kanji'>
              <ruby>
                <rb>
                  <img class='js-x' data-kind='image' src="<%= kanjis[0].image %>" height="80" width="80">
                </rb>
                <rp>/</rp>
                <rt class='js-x p-bold p-romanji' data-kind='romaji'><%= kanjis[0].romaji %></rt>
              </ruby>
            </div>
            <div>
              <p><span>On: </span> <span class='js-x p-bold' data-kind='onyomi'><%= kanjis[0].onyomi %></span></p>
                <p><span>Kun: </span> <span class='js-x p-bold' data-kind='kunjomi'><%= kanjis[0].kunjomi %></span></p>
                <p>
                  Radical: <span class='js-x' data-kind='radical'><%= kanjis[0].radical %></span>  Stroke: <span class='js-x' data-kind='stroke'><%= kanjis[0].stroke %></span>  Elements: <span class='js-x' data-kind='elements'> <%= kanjis[0].elements %> </span>
                </p>
            </div>
          </div>
          <div class='col-sm-9'>
            <div id='simple-board' class='write-board'></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>