.container.kanji-dammage
  .page
    .page-content
      .row
        - @records.each do |record|
          .col-sx-6
            - @attrs ||= record.class.column_names.map(&:to_sym) - except_arrays
            .panel.panel-bordered
              %h2.panel-heading
                .panel-title
                  = record.id
                  - if @records.size == 1
                    = link_to "Next", editations_path(id: record.id.next, class: record.class.name)
              .panel-body
                = form_for record, url: edit_editation_path(record) do |f|
                  - @attrs.each do |attr|
                    .row
                      .form-group
                        %lable.control-label.uppercase
                          = attr.to_s
                        = f.text_field attr, class: 'form-control inline-edit', data: {url: "editations/#{record.id}", attribute: attr, class: record.class.name, value: record[attr]}

